body {
  background-color: #000; /* Fondo negro para toda la p치gina */
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
  padding: 0; /* Elimina el relleno predeterminado del cuerpo */
}
.flower {
  height: 200px;
  width: 200px;
  margin: 20px auto;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  background-color: #000; /* Fondo negro para toda la p치gina */

  /* Agrega una animaci칩n de pulsaci칩n */
  animation: pulsate 2s infinite;
}
@keyframes pulsate {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}
  .mid {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    background: radial-gradient(circle, #000, #ff5e00, #000);
  
    z-index: 4;
  
    background-size: 5px 5px;
  
    filter: drop-shadow(0 0 8px #682600);
  }
  
  .Petal1 {
    position: absolute;
    left: 40px;
    z-index: 3;
  
    width: 120px;
    height: 30px;
    border-radius: 50%;
  
    background: radial-gradient(circle, #ff5e00, #ffbb00);
  
    filter: drop-shadow(0 0 5px #e05200);
  }
  
  .Petal1.p1 {
    transform: rotate(22.5deg);
  }
  .Petal1.p2 {
    transform: rotate(67.5deg);
  }
  .Petal1.p3 {
    transform: rotate(110.5deg);
  }
  .Petal1.p4 {
    transform: rotate(157.5deg);
  }
  
  .Petal2 {
    position: absolute;
    left: 0;
    z-index: 2;
  
    width: 200px;
    height: 40px;
    border-radius: 50%;
  
    background: radial-gradient(circle, #ff5e00, #fbd702);
  
    filter: drop-shadow(0 0 5px #e05200);
  }
  
  .Petal2.p1 {
  }
  
  .Petal2.p2 {
    transform: rotate(90deg);
  }
  .Petal2.p3 {
    transform: rotate(45deg);
  }
  
  .Petal2.p4 {
    transform: rotate(135deg);
  }
  
  .Petal3 {
    position: absolute;
    left: 0px;
    z-index: 1;
  
    width: 200px;
    height: 40px;
    border-radius: 50%;
  
    background: radial-gradient(circle, #ff5e00, #fbd702);
  
    filter: drop-shadow(0 0 2px #fbd702);
  }
  
  .Petal3.p1 {
    transform: rotate(22.5deg);
  }
  .Petal3.p2 {
    transform: rotate(67.5deg);
  }
  .Petal3.p3 {
    transform: rotate(110.5deg);
  }
  .Petal3.p4 {
    transform: rotate(157.5deg);
  }